body{
    background-color:#0a0313;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.header{
    display:flex;
    justify-content:space-between;
    margin: auto 0;
    align-items: center;
    padding: 10px;
}
h1{
    color: lightblue;
    font-family: Sofia;
    font-size: 4.2vmin;
    margin:10px;
    text-shadow: 5px 1px 2px rgba(17, 158, 87, 0.62);
}
.content{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
}
ul li{
    margin-right: 20px;
}
li img{
    width: 6vmin;
}
hr{
    border-width: 0.4vmin;
}
.base{
    display: flex;
}
.picture{
    text-align: center;
}
.img1{
    margin: 3vmin;
    border: 2.5vmin solid white;
    border-bottom: 9vmin solid white;
    width: 40vmin;
}
p{
    max-width: 50vmin;
    margin: 0 auto;
    font-size: 2vmin;
}
table{
    padding: 0 3vmin;
    margin:0;
}
h2{
    font-size: 3vmin;
    margin: 0;
}
.table_value{
    font-weight: lighter;
}
button {
    background-color: #0a0313;
    border: none;
    color: lightblue;
    font-size: 2.5vmin;
    padding: 1vmin 2vmin;
    margin: auto;
    border: 2px solid;
    border-color: rgba(17, 158, 87, 0.62);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer; 
}
button:hover {
    background-color: #001220; 
    color: white; 
}
