body {
    background-color: #0a0313;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}
.header {
    padding: 10px;
    text-align: center;
}
h1 {
    color: lightblue;
    font-family: Sofia;
    font-size: 6vmin;
    margin: 0;
    text-shadow: 5px 1px 2px rgba(17, 158, 87, 0.62);
    animation: neonAnimation 2s infinite alternate;
}
@keyframes neonAnimation {
    from {
        text-shadow: 5px 1px 2px rgba(17, 158, 87, 0.62);
    }
    to {
        text-shadow: -5px 1px 2px rgba(17, 158, 87, 0.62);
    }
}
.feedback-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    transition: transform 0.3s ease;
}
.feedback-form:hover {
    transform: scale(1.02);
}
.feedback-form form {
    display: flex;
    flex-direction: column;
}
.feedback-form label {
    color: white;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.feedback-form input, .feedback-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #444444;
    color: white;
    font-size: 1em;
    transition: background-color 0.3s ease;
}
.feedback-form input:focus, .feedback-form textarea:focus {
    background-color: #555555;
}
.feedback-form input[type="submit"] {
    background-color: #4ca6a7;
    color: #1f1f1f;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.feedback-form input[type="submit"]:hover {
    background-color: #0a0313; 
    color: white; 
}